{% block meta %}
<meta name="description" content="shopwel is the best online store ">
<meta name="author" content="SHOPWEL">
<meta property="og:title" content="shopwel | about">
<meta property="og:description" content="shopwel is the best online store">
<meta property="og:type" content="article">
<meta property="og:url" content="http://shopwel.com/about/">
{% endblock %}

  <div class="flex flex-wrap space-x-2">
    {% for product in products %}
    <div class="product max-auto bg-pink-200 p-1">
      <div class="p-5 bg-white-500">
        <a href="{% url 'product_detail' product.category.slug product.slug %}">
          <div class="image mb-1 float-left width-20%">
            <img src="{{ product.get_thumbnails }}" alt="image of {{ product.title }}">
          </div>
          <h2 class="text-xl">{{ product.title }}</h2>
          <p class="text-xs text-pink-600">${{ product.get_display_price }}</p>
        </a>
      </div>
    {% endfor %}
  </div> 
