{% extends 'shop/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="shopwel is the best online store ">
<meta name="author" content="SHOPWEL">
<meta property="og:title" content="shopwel | about">
<meta property="og:description" content="shopwel is the best online store">
<meta property="og:type" content="article">
<meta property="og:url" content="http://shopwel.com/about/">
{% endblock %}

{% block content %}
  <h1>About</h1>
  shopwel is the largest online retail store in Uganda.
  We currently have over 10 million products, more than 4000 active vendors and 2.5 million subscribers. Shopwel's mission is to sell 100% authentic products with the best prices in Uganda while offering the most convenient shopping.
  <h1> for more infomation call:+256789746493</h1>
  email us at sshopwel@gmail.com
{% endblock %}


